.list_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,.07);
	margin-bottom: 30px;
}
.image {
	position: relative;
	overflow: hidden;
}
.image img {
	min-width: 100%;
	opacity: 0;
}
.image .main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.list_inner .image:hover .main {
	transform: scale(1.1) translateZ(0);
}
.details {
	width: 100%;
	float: left;
	padding: 30px 40px 25px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.extra {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	position: relative;
}
.extra::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,.1);
	bottom: -7px;
}
span.plain-text {
	font-size: 13px;
}
.details .date {
	font-size: 13px;
	color: #767676;
	font-style: italic;
}
.details .date a {
	text-decoration: none;
	color: #767676;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.details .date a:hover {
	color: #000;
}
.details .date span {
	position: relative;
}
.details .date span::before {
	position: relative;
	content: "";
	font-size: 10px;
}
.details .title {
	margin-bottom: 10px;
	line-height: 1.4;
}
.details .title a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.details .title h2 {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
}
.tokyo_tm_read_more {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	overflow: hidden;
}
.tokyo_tm_footer {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	overflow: hidden;
}
.tokyo_tm_read_more a {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	color: #000;
	padding-right: 32px;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
}
.tokyo_tm_read_more a::before {
	position: absolute;
	content: '';
	background-color: #000;
	margin: auto;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	bottom: 0;
	transform: scaleX(.2);
	transform-origin: left center;
	animation: read-more-anim;
	animation-fill-mode: forwards;
	animation-duration: .4s;
	animation-timing-function: cubic-bezier(.6,.01,0,1);
}
.list_inner:hover .tokyo_tm_read_more a::before {
	animation: read-more-anim-2;
	animation-fill-mode: forwards;
	animation-duration: .4s;
	animation-timing-function: cubic-bezier(.6,.01,0,1);
}
.list_inner:hover .tokyo_tm_read_more a span {
	transform: translateX(0%);
}
.tokyo_tm_read_more a span {
	display: inline-block;
	position: relative;
	background-color: #fff;
	z-index: 1;
	transition: .6s cubic-bezier(.6,.01,0,1);
	transform: translateX(-110%);
}
@keyframes read-more-anim-2{
	0%{transform-origin:left center;transform:scaleX(.2)}
	70%{transform-origin:left center;transform:scaleX(1)}
	71%{transform-origin:right center}
	100%{transform-origin:right center;transform:scaleX(.2)}
}
.single-area  img{
	margin-bottom: 15px;
}
.sticky .details {
	background-color: #ddd;
}
.header-area {
	padding-top: 15px;
}
.footer-area {
	margin-top: 50px;
}